<div class="nested-fields">
  <%= f.label :name, "Occasion Name" %>
  <%= f.text_field :name, placeholder: "Enter occasion name", class: "form-control" %>

  <button type="button" class="remove-occasion btn btn-danger">Remove Occasion</button>
</div>
