<% content_for :title, "Editing preparation" %>

<h1>Editing preparation</h1>

<%= render "form", preparation: @preparation %>

<br>

<div>
  <%= link_to "Show this dish preparation", @preparation %> |
  <%= link_to "Back to preparations", preparations_path %>
</div>
