<p style="color: green"><%= notice %></p>

<% content_for :title, "preparations" %>

<h1>Preparations</h1>

<div id="preparations">
  <% @preparations.each do |preparation| %>
		
    <%= render preparation %>
		
    <p>
      <%= link_to "Show this preparation", preparation %>
    </p>
  <% end %>
</div>

<%= link_to "New preparation", new_preparation_path %>
