<div id="<%= dom_id dish %>">
  <p>
    <strong>Name:</strong>
    <%= dish.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= dish.description %>
  </p>

	<p>
    <strong>Updated at:</strong>
    <%= time_tag dish.updated_at, "data-local": "time", "data-format": "%B %e"  %>
  </p>
	
</div>
