<div id="<%= dom_id dish %>">
  <p>
    <strong>Title:</strong>
    <%= dish.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= dish.body %>
  </p>

	<p>
    <strong>Updated at:</strong>
    <%= time_tag dish.updated_at, "data-local": "time", "data-format": "%B %e"  %>
  </p>
	
</div>
